/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

img {
    width: 100%;
}

li {
    text-decoration: none;
    color: lightgray;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* BUTTONS */

.btn {
    color: white;
    border: 2px solid white;
}

.btn-large {
    padding: .8em 1.5em;
    border-radius: 50px;
    font-size: .6em;
}

/* MAIN */

/* LEFT-MENU */

.container {
    display: flex;
    flex-direction: row;
}

.left-menu {
    background-color: cadetblue;
    height: calc(100vh - 90px);
    width: 15%;
    display: flex;
    flex-direction: column;
}

.top-nav {
    background-color: chartreuse;
}

.bottom-nav {
    background-color: cornflowerblue;
}

/* PLAYLIST */

.playlist-list {
    background-color: #141922;
    height: calc(100vh - 90px);
    width: 85%;
    overflow-y: auto;
}

.top-btn {
    background-color: black;
    opacity: .6;
    position: fixed;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
}

.upgrade {
    margin-right: 18%;
}

.top-menu {
    background-color: #141922;
    height: 60px;
    margin-top: 50px;
}

.li-top-menu {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.g-border {
    border-bottom: 2px solid green;
}

/* FOOTER */

footer {
    background-color: black;
    height: 90px;
    display: flex;
    flex-direction: row;
}

.left-f {
    background-color: aquamarine;
    width: 20%;
}

.center-f {
    background-color: aqua;
    width: 60%;
}

.right-f {
    background-color: aquamarine;
    width: 20%;
}